body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 25px 0;
    font-size: 28px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

/* Latest News */
.latest-news-section {
    background-color: white;
    width: 22%;
    padding: 20px;
    border-radius: 10px;
}

.main-article {
    background-color: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Pictorial News */
.pictorial-news-section {
    background-color: white;
    width: 22%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.pictorial-news-section img {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
}

